@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --primary-color: #F44336;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    color: #333;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0.75rem 0;
}

h1 h2 h3 h4 h5 h6{
    font-weight: 400;
}

img{
    width: 100%;
}

img:hover{
    cursor: pointer;
}

.page-division{
    display: flex;
}

.page-division>.navbar{
    flex: 3;
}

.page-division>div{
    flex: 11;
}

/****************************************
            UTILITY CLASSES
****************************************/
.container{
    max-width: 1000px;
    margin: 3.5rem auto;
}

.underline-img{
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 75px;
}

.underline-img:hover{
    cursor: context-menu;
}

.text-white{
    color: #EDEDED;
}
.text-gray{
    color: #888;
}
.text-primary{
    color: var(--primary-color);
}

.bg-dark{
    background-color: #333;
}
.bg-gray{
    background-color: #EFEFEF;
}
.bg-translucent{
    background-color: rgba(0,0,0,0.6);
}
.bg-primary{
    background-color: var(--primary-color);
}   

.text-center{
    text-align: center;
}

.l-header{
    font-size: 4.0rem;
    margin-top: 6rem;
}
.m-header{
    font-size: 2.8rem;
}
.s-header{
    font-size: 1.5rem;
}

.items{
    display: flex;
    flex-direction: row;
}

.items .item{
    flex: 1;
    margin: 1rem 0.5rem;
}

.btn{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border: none;
    transition: all 0.3s;
}

.btn:hover{
    cursor: pointer;
}

.btn-white{
    background: #fff;
    color: #333;
    border: none;
}

.btn-white:hover{
    background: #333;
    color: #EDEDED
}

.btn-primary{
    background: var(--primary-color);
    color: #EEEEEE;
    border: none;
}

.btn-primary:hover{
    background: rgb(145, 63, 48);
    cursor: pointer;
}

.btn-dark{
    background: #333333;
    color: #EEEEEE;
    border: none;
}

.btn-dark:hover{
    background: var(--primary-color);
    cursor: pointer;
}

.capitalize {
    text-transform: uppercase;
}

/****************************************
            MODAL ELEMENTS
****************************************/
.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 0.3s;
}
.modal-img{
    width: 75%;
    margin: 1rem 12.5%;
}

.modal-description{
    margin: 1rem 12.5%;
}

.modal-cross{
    font-size: 2.5rem;  
    line-height: 2.5rem;
    display: inline-table;
    transform:rotate(45deg);
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    padding: 0;
    border-radius: 100%;
}

.modal>.container{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    border-radius: 10px;
    padding: 2rem;
}

#packages .modal>.container{
    align-items: center;
}
    
.modal .form-control{
    width: 50%;
}

.modal>.container>.form-control{
    margin-top: 2rem;
}
/****************************************
            NAVBAR CLASSES
****************************************/
.navbar{
    background: var(--primary-color);
    color: #EEEEEE;
    position: relative;
    top: 0;
    padding: 1rem;
    display: flex;
    z-index: 5000;
    scroll-behavior: smooth;
}

.ReviewPage .navbar{
    position: sticky;
}

.navbar-clm{  
    flex-direction: column;
}

.navbar-animate{
    animation: navigation-scroll 1.5s ease-out;
}

@keyframes navigation-scroll {
    0%{
        left: -22rem;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
    
}

.navbar-title{
    position: sticky;
    width: 15rem;
    top: 6.5rem;
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 500;
}

.navbar .navbar-links{
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: inherit;
    list-style: none;
    align-items: stretch;
    font-weight: 500;
    font-size: 1.2rem;
}

.navbar-distance{
    top: 15rem;
}

.navbar-links li{
    padding: 0.2rem 0;
    margin-top: 0.3rem;
    width: 100%;
    transition: all 0.3s;
}

.navbar .navbar-links li a{
    color: #EEEEEE;
    margin: 0.25rem 0;
    padding: 0.2rem 1rem;
    display: block;
    border-radius: 5px;
    transition: all 0.3s;
}

.navbar .navbar-links li label{
    color: #EEEEEE;
    margin: 0.25rem 0;
    padding: 0.2rem 1rem;
    display: block;
    border-radius: 5px;
    transition: all 0.3s;
}

.navbar .navbar-links li:hover{
    background: #EDEDED;
}

.navbar .navbar-links li:hover a{
    color:#333;
}

.navbar .navbar-links li:hover label{
    color:#333;
}

/***************************************
        PREV DESIGN CLASSES
***************************************/
.prev-design-img{
    width: 45%;
    opacity: 0.8;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.prev-design-img:hover{
    opacity: 1;
    top: -0.5rem;
    left: -0.5rem;
    box-shadow: 10px 10px 5px -5px #777;
    transition: all 0.3s;
}

.prev-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
}

#prev-img1{
    display: none;
}

#prev-img2{
    display: none;
}

#prev-img3{
    display: none;
}

#prev-img4{
    display: none;
}

#prev-img5{
    display: none;
}

#prev-img6{
    display: none;
}
/****************************************
            DESIGNERS CLASSES
****************************************/
.designer-info{
    padding: 15px;
    padding-bottom: 20px;
}

.designers-name{
    font-size: 1.8rem;
    font-weight: 300;
    padding: 10px;
}

.designers-designation{
    font-size: 1.2rem;
    padding: 7px;
}

.designers-description{
    font-size: 1.1rem;
    padding: 7px;
}

.designers-img{
    filter: grayscale(70%);
}

#designers .items .item{
    transition: all 0.3s;
}

#designers .items .item:hover{
    background: #333;
    color: #F4F4F4;
    transition: all 0.3s;
}

#designers .items .item .designers-img{
    transition: all 0.3s;
}

#designers .items .item:hover .designers-img{
    filter: none;
    transition: all 0.3s;
}


/****************************************
            PACKAGE CLASSES
****************************************/
.p-header{
    height: 120px;
    line-height: 120px;
    font-size: 1.8rem;
    font-weight: 500;
}
.p-description{
    min-height: 50px;
    line-height: 50px;
    border-bottom: #DDD solid 1px;
    font-size: 1.2rem;
    padding: 5px;
}

.p-cost{
    padding-top: 25px;
    font-weight: 500;
    font-size: 2rem;
}

.p-description .text-gray{
    font-size: 1rem;
}

.p-btn{
    margin: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

#design-info1{
    display: none;
}


#design-info2{
    display: none;
}


#design-info3{
    display: none;
}

#basic-signup{
    display: none;
}

#advance-signup{
    display: none;
}

/****************************************
            REVIEW CLASSES
****************************************/

.form-control{
    font-family: "Roboto", sans-serif;
    width: 85%;
    margin: 0rem;
}
.form-group{
    margin-bottom: 0.75rem;
}

.form-group label{
    display: block;
}

.form-group .form-control{
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid #333;
}

.form-control>.form-group textarea{
    height: 75px;
    resize: vertical;
}

.form-group .form-control:focus{
    outline: none;
    border-bottom: 2px solid #777;
}

.modal .form-control>.form-group textarea{
    resize: none;
}

.form-control .form-group .btn{
    font-size: 1.2rem;
    padding: 0.75rem;
    border-bottom: none;
}

/****************************************
            FOOTER CLASSES
****************************************/

#page-footer{
    padding-top: 3rem;
    padding-bottom: 1rem;
    line-height: 40px;
}

table {
    margin-left: 37%;
}

table th {
    width: 200px;
}

#table-name, #table-name-header {
    text-align: left;
}

/***************************************
          REVIEW PAGE CLASSES
***************************************/
.basic-reviews{
    display: flex;
    flex-direction: rows;
}

.row{
    width: 85%;
    margin: 0 1.5rem;
}

.card{
    width: 100%;
    border: solid 3px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px -5px #555;
    margin-bottom: 1rem;
}

.review-img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    padding: 0 1px;
}

.review-description{
    padding: 1rem;
    text-align: justify;
}
.review-description .s-header{
    text-align: left;
}

.review-stars{
    width: 30%;
}

.star-1, .star-2, .star-3, .star-4, .star-5{
    display: block;
}
/****************************************
            WEBPAGE ELEMENTS
****************************************/
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:window-inactive{
    border-radius: 10px;
    background:rgba(145, 63, 48, 0.6);
}

::selection{
    background: rgba(244, 67, 54, 0.6);
    color: #F4F4F4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

/****************************************
            MEDIA QUERIES
****************************************/
@media (max-width: 650px) {
    .items{
        flex-direction: column;
    }   
    
    .prev-design-img{
        width: 90%;
    }
    .navbar{
        display: none;
    } 
    .container{
        max-width: 500px;
        margin: 3.5rem auto;
    }

    .basic-reviews{
        flex-direction: column;
    }
}

@media (max-width: 1100px) and (min-width: 651px){
    .page-division{
        flex-direction: column;
    }

    .prev-design-img{
        width: 30%;
        margin: 1rem auto;
    }

    .navbar{
        position: sticky;
        height: 3.5rem;
    }

    .navbar .navbar-title{
        display: none;
    }
    .navbar .navbar-links{
        flex-direction: row;
        justify-items: center;
        align-items: center;
        margin-top: 0.2rem;
    }
    .container{
        max-width: 900px;
        margin: 3.5rem auto;
    }

    .navbar .navbar-links li a{
        padding: 25%;
    }

    .navbar .navbar-links li{
        text-align: center;
    }

}
